.btn.btn-primary{
 float: right;
}

.card-text{
    font-family: Speedee-Regular,Arial,Helvetica,sans-serif;
}

.card{
  border: 1px solid black;
  margin-left: 250px;
}


.h1{
    text-align: center;
}


  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
  }
  

  .television{
    text-align: center;
    font-weight: 600;
  }
  
  .headings{
    text-align: center;
  }
  
  .col-sm-6{
    text-align: -webkit-center;
  }
  .card-body{
    padding: 3rem;
  }
  
  .box-number{
    font-size: 150px;
  }

  .k-heading{
    margin-left: 150px;
    margin-right: 150px;
  }


  .total-price{
    text-align: right;
    margin-right: 20px;
  }

  
  .col-6{
    text-align: center;
  }
  